
/* Contenedor del switch */
.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 25px;
}

/* Oculta el input original */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* Estilo del slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 0.4s;
    border-radius: 25px;
}

/* El círculo dentro del switch */
.slider:before {
    position: absolute;
    content: "";
    height: 19px;
    width: 19px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    transition: 0.4s;
    border-radius: 50%;
}

/* Cambia el color cuando está seleccionado */
.switch input:checked + .slider {
    background-color: #28a745;
}

/* Mueve el círculo cuando está seleccionado */
.switch input:checked + .slider:before {
    transform: translateX(25px);
}

/* Cambia el color y aplica negrita al texto asociado cuando está activado */
.text-green-bold {
    color: #228b40 !important;
    font-weight: bold !important;
    transition: all 0.4s ease;
}

